{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<style>
.prods{
transition: 0.9s;
}
.prods:hover{
    transform: scale(1.1); 
}
body{
        font-family: 'Tangerine', cursive;
        font-size:50%;
    }
    .name {
  
  text-align:center;
  font-size:500%;
  color:black;
  transition:0.5s
}
</style>

<body>
    <div style="margin-top:20%" class="container">
        {% if favourites %}
        {% for favourite in favourites %}
        <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 ">
                <a  style="text-decoration:none;"href="{% url 'single_product' favourite.id %}">
          <div class="prods">
        <img style="margin:5px;" src="{{favourite.image.url}}" class="img-responsive" alt="Image">
        <p class="name">{{favourite.product_name}}</p>
        </div>
       </a>
      </div>
        
        {% endfor %}
        {% else %}
        <h1 class="text-center"><b>No products favourites yet</b></h1>
      {% endif %}
    </div>
</body>

{% endblock %}