{%extends 'base.html'%}
{% block content %} 
{{ block.super}}

<style>
.container{
  font-family: 'Tangerine', cursive;
}
.name{
  font-size:200%
}
</style>

<body>
    <div style="margin-top:250px;background-color: white" class="container">
      <div clas="row">
        
     
      <div class="col-md-10 col-sm-10 col-xs-12">
        <br><br>
          <h1 class="text-center"><strong>Your Posted products</strong></h1>
          <hr>
          {% for product in products %}
          <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4 ">
            <div class="user-projs">
          <img style="margin:13px;" src="{{product.image.url}}" class="img-responsive" alt="Image">
          <p class="name">{{product.product_name}}</p>
          </div>
         
        </div>
          
          {% endfor %}
    
      </div>
    </div>
      <hr>
    </div>
    <div style="background-color: white"class="container">
     
     
      <div class="col-md-2"></div>
      <div class="col-md-8">
        
        
       
      </div>
      <div class="col-md-2"></div>
    </div>
  
</body>
{% endblock %}